<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label>TinectCompressor</label>

    <version>0.0.1</version>
    <copyright>(c) by tinect</copyright>
    <license>MIT</license>
    <link>https://github.com/tinect/TinectCompressor</link>
    <author>tinect</author>
    <compatibility minVersion="5.2.0" />

	<description><![CDATA[

        ]]>
    </description>

    <changelog version="1.0.0">
        <changes lang="de">Veröffentlichung</changes>
        <changes>Release</changes>
    </changelog>


</plugin>
